html,
body {
  font-size: 1.8rem;
  font-family: Avenir;
  color: white;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0;
  background-color: #cbf2ff;

  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 575.98px) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 58%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Aleo;
  font-weight: bold;
}

p,
a {
  color: white;
  text-decoration: none;
  margin: 0;
}

/* animations */
@keyframes floatie-bob {
  0%,
  100% {
    transform: translateY(1vw);
  }

  50% {
    transform: translateY(-1vw);
  }
}
